<div id="logout" >
	<%= link_to "Logga ut", logout_path, class: "btn btn-primary" %>
</div>
<div id="users-list" class="list-group">
	<ul>
		<% if @users.size > 1 %>
			<% @users.each do |user| %>
				<li class="list-group-item">
					<ul>
						<li class="list-group-item">Namn: <%= user.name %></li>
						<li class="list-group-item">Epost: <%= user.email %></li>
						<% if !user.token.nil? %>
							<% if user.token.token.nil? %>
								<li class="list-group-item">Api Nyckel: Ingen nyckel</li>
							<% else %>
								<li class="list-group-item">
									Api Nyckel: <%= user.token.token %>
									<%= link_to "Ta bort nyckel", delete_token_path(:user_id => user.id) %>
								</li>
							<% end %>					
						<% end %>
					</ul>
				</li>
			<% end %>
		<% else %>
			Inga användare registrerade ännu
		<% end %>
	</ul>
</div>

