<div class="well bs-component">
	<div id="register-form" class="form-horizontal">
		<div class="flash-notice">
        	<% if @user.errors.any? %>
				<div id="error_messages">
					<ul>
						<% @user.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
						<% end %>
					</ul>
				</div>
			<% end %>
    	</div>
	    <%= form_for @user do |f| %>
	       Ange namn: <%= f.text_field :name %>
	       Ange epost: <%= f.text_field :email %>
	       Ange lösenord: <%= f.password_field :password %>
	       Upprepa lösenord: <%= f.password_field :password_confirmation %>
	       <%= f.submit "Registrera användare" %>
	    <% end %>
	</div>
</div>